<a href="https://colab.research.google.com/github/Ishikaaa/ML-Data-Scientist-job-market-in-the-US/blob/master/Data_Scientist_job_market_in_the_US.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***1. Importing Libraries - ***

In [0]:
import pandas as pd 
import numpy as np 
import re 
import seaborn as sns

In [53]:
dataset=pd.read_csv("alldata.csv")
dataset.head()

                                            position  ...            location
0                               Development Director  ...  Atlanta, GA 30301
1  An Ostentatiously-Excitable Principal Research...  ...         Atlanta, GA
2                                     Data Scientist  ...         Atlanta, GA
3                                       Data Analyst  ...  Atlanta, GA 30303
4  Assistant Professor -TT - Signal Processing & ...  ...         Atlanta, GA

[5 rows x 5 columns]

In [54]:
dataset.shape

(6964, 5)

In [55]:
dataset.dtypes

position        object
company         object
description     object
reviews        float64
location        object
dtype: object

# ***Handling Missing Data - ***

In [56]:
dataset.isnull().sum()

position         11
company          11
description      11
reviews        1638
location         11
dtype: int64

In [57]:
# removing that rows in which all colunms are null 
dataset = dataset.dropna(how='all',axis=0)
dataset.shape

(6953, 5)

In [58]:
dataset.isnull().sum()

position          0
company           0
description       0
reviews        1627
location          0
dtype: int64

In [59]:
# remove that rows which do not have any review 
dataset=dataset.fillna(0)
dataset.shape

(6953, 5)

In [60]:
dataset.isnull().sum()

position       0
company        0
description    0
reviews        0
location       0
dtype: int64

In [61]:
dataset['position'].value_counts()

Data Scientist                                                                                                              351
Senior Data Scientist                                                                                                        96
Research Analyst                                                                                                             64
Data Engineer                                                                                                                60
Machine Learning Engineer                                                                                                    56
Lead Data Scientist                                                                                                          31
Research Scientist                                                                                                           30
Sr. Data Scientist                                                                                                           28
Principal Data Scientist                                                                                                     24
Data Analyst                                                                                                                 22
Software Engineer                                                                                                            22
Quantitative Analyst                                                                                                         21
Scientist                                                                                                                    17
Product Manager                                                                                                              17
Bioinformatics Scientist                                                                                                     16
Market Research Analyst                                                                                                      15
Senior Software Engineer                                                                                                     14
Machine Learning Scientist                                                                                                   13
Software Engineer, Machine Learning                                                                                          13
Senior Data Engineer                                                                                                         12
Senior Research Analyst                                                                                                      12
Software Development Engineer                                                                                                11
Staff Data Scientist                                                                                                         11
Senior Scientist                                                                                                             11
Associate Scientist                                                                                                          11
Student Research Collaboration                                                                                                9
Research Associate                                                                                                            9
Lead Data Engineer                                                                                                            9
Senior Machine Learning Scientist                                                                                             8
Sr. Data Engineer                                                                                                             8
                                                                                                                           ...
STATISTICAL MODELER                                                                                                           1
Detector Engineering Systems Engineer (663687)                                                                                1
Technical Research Project Analyst                                                                                            1
POSTDOCTORAL SCIENTIST, PHENOMICS                                                                                             1
Research and Program Analyst                                                                                                  1
Data Scientist, AI Services                                                                                                   1
Machine Learning Engineer, Personalization                                                                                    1
SR SOFTWARE ENG - BLACK LOCUS                                                                                                 1
JD Finance - AI Lab Software/System Engineer                                                                                  1
Data Scientist (Online Media)                                                                                                 1
Amazon AI- Applied Scientist                                                                                                  1
Scientist, Delivery Sciences                                                                                                  1
AI Research Scientist - Machine Learning                                                                                      1
Front Desk Administrator                                                                                                      1
Senior Associate Scientist In Vivo Pharmacology, Metabolic Complications, Cardiovascular & Metabolism Discovery (1 of 2)      1
Detector Engineering Systems Engineer (663686) - Security Clearance Required                                                  1
Data Scientist 4, Poker                                                                                                       1
Application Security Assessor/Penetration Tester                                                                              1
Senior Software Engineer, Modeling & Simulation                                                                               1
Data Engineering Lead                                                                                                         1
Data Governance Manager, Bureau of Epidemiology Services                                                                      1
Principal Scientist / Associate Director, Toxicology                                                                          1
Sr Manager, Alexa Comms Fraud and Abuse                                                                                       1
Telecom System Principal Engineer (664008) - Security clearance required                                                      1
Bioinformatian II                                                                                                             1
Jr. Research Analyst                                                                                                          1
Commercial Real Estate Research Analyst                                                                                       1
Research Scientist I, Bioinformatics                                                                                          1
POPULATION COORDINATOR (24-40 HOURS PER WEEK)                                                                                 1
Vice President or Head, Translational Medicine and Early Development                                                          1
Name: position, Length: 5242, dtype: int64

In [62]:
dataset['company'].value_counts()

Amazon.com                                358
Ball Aerospace                            187
Microsoft                                 137
Google                                    134
NYU Langone Health                         77
Fred Hutchinson Cancer Research Center     70
KPMG                                       66
Lab126                                     50
Facebook                                   49
Broad Institute                            49
Walmart eCommerce                          45
McKinsey & Company                         41
Takeda Pharmaceutical                      39
University of Washington                   39
Harnham                                    39
Oath Inc                                   34
Pharmacyclics, an Abbvie Company           34
Celgene Corporation                        34
Cymer                                      32
Brigham & Women's Hospital(BWH)            31
Biogen                                     30
Amgen                                      28
Sanofi                                     28
Illumina                                   27
Jacobs                                     27
JP Morgan Chase                            27
JD.com                                     26
JUUL Labs                                  26
Zillow Group                               26
Cedars-Sinai                               24
                                         ...
Biocept, Inc.                               1
Callière Group                              1
HKS, Inc.                                   1
Benenson Strategy Group                     1
Fluid Intelligence                          1
Leafly Holdings                             1
PAE                                         1
Group One Trading                           1
Legal Services Corporation                  1
Stryker                                     1
GEI Consultants Inc                         1
GOAT                                        1
MedStar Health Research Institute           1
Marchex                                     1
Heap                                        1
Algorithmia                                 1
N C Q A                                     1
Baim Institute for Clinical Research        1
Spark Foundry                               1
Beclyn Group Recruiting                     1
Arcturus Therapeutics                       1
Old Mission Capital                         1
Analytics Associates                        1
Nmatrixx                                    1
The Clorox Company                          1
Tendril                                     1
Trinamix Inc.                               1
Federal Reserve Bank of Chicago             1
Quantifind                                  1
Fareportal Inc.                             1
Name: company, Length: 2213, dtype: int64

In [63]:
dataset['reviews'].value_counts()

0.0        1627
25902.0     224
108.0       193
2.0         191
5.0         138
4.0         131
4618.0      118
2474.0      106
3.0         101
6.0          94
25895.0      89
7.0          78
705.0        76
91.0         71
8.0          66
15.0         65
838.0        62
32.0         55
11.0         54
366.0        49
14.0         48
141.0        46
12.0         45
26.0         42
70.0         42
10.0         41
385.0        41
52.0         39
530.0        39
17.0         36
           ...
99.0          1
4338.0        1
242.0         1
2203.0        1
25909.0       1
2189.0        1
415.0         1
694.0         1
723.0         1
1516.0        1
312.0         1
55.0          1
49.0          1
3027.0        1
11607.0       1
1947.0        1
131.0         1
177.0         1
63.0          1
228.0         1
892.0         1
2431.0        1
2647.0        1
447.0         1
1959.0        1
1366.0        1
6868.0        1
21949.0       1
290.0         1
2409.0        1
Name: reviews, Length: 561, dtype: int64

In [64]:
dataset['description'][0]

"Development Director\nALS Therapy Development Institute has an immediate opening for Development Directors. Reporting directly to the Senior Development Director, the Development Director at ALS TDI is a senior fundraising position working to identifying potential prospects and cultivating solicitation strategies and in closing asks with donors including individuals and corporations by building networks via events, generating awareness of ALS TDI; outreach including attending and speaking at events as well as personally cultivates relationships with patients, prospects and donors. This position will be responsible for generating and managing a portfolio of at least two million to five million dollars per year. This position will be located in Atlanta, GA.\n\nRequirements:\nBachelor's Degree requiredMinimum 6-8 years' experience in fundraising and business developmentSuccessful track recording in fundraising with major donors or scientific sales preferredDemonstrated ability to work independently and make progress on several prospects/projects at the same time.Excellent English oral, written and presentation skillsStrong leadership and management skills, as well as the ability to forge strong interpersonal relationshipsAbility to travelExcellent computer skills including use of word processing, spreadsheet, database, presentation and prospect management software operating off a PC-based system including Salesforce.\nAbout ALS Therapy Development Institute (ALS.net)\n\nThe ALS Therapy Development Institute (ALS.net) and its scientists actively discover and develop treatments for ALS. ALS.net is the world's first and largest nonprofit biotech focused 100% on ALS research. Led by ALS patients and their families, the charity understands the urgent need to slow and stop this horrible disease. ALS.net, based in Cambridge, MA, has served as one of the leaders in sharing data and information with academic and ALS research organizations, patients and their families. For more information, visit www.als.net.\n\nTo Apply\nPlease apply at https://als.applicantpro.com. Please include a cover letter, salary requirements and resume. No phone calls please.\nALS TDI is an equal opportunity employer."

In [68]:
dataset['location'].value_counts()

Seattle, WA                563
New York, NY               508
Cambridge, MA              487
Boston, MA                 454
San Francisco, CA          425
San Diego, CA              294
Chicago, IL                292
Boulder, CO                233
Washington, DC             230
Sunnyvale, CA              221
Mountain View, CA          199
Los Angeles, CA            187
Austin, TX                 156
Atlanta, GA                147
Redmond, WA 98052          117
Cambridge, MA 02139         95
Seattle, WA 98109           95
New York, NY 10016          83
San Diego, CA 92121         71
Cambridge, MA 02142         64
South San Francisco, CA     53
Chicago, IL 60654           45
San Francisco, CA 94103     40
Chicago, IL 60601           40
Mountain View, CA 94043     39
Redmond, WA                 39
Seattle, WA 98101           34
Seattle, WA 98104           34
Cambridge, MA 02140         33
Boston, MA 02116            31
                          ...
Jersey City, NJ 07310        1
Atlanta, GA 30306            1
New Brunswick, NJ            1
Richmond, CA 94806           1
Lafayette, CA                1
West Orange, NJ 07052        1
Boston, MA 02134             1
New York, NY 10027           1
Fort Lee, NJ                 1
Woodcliff Lake, NJ           1
Brooklyn, NY 11201           1
Atlanta, GA 30350            1
New York, NY 10172           1
Austin, TX 78769             1
Orangeburg, NY 10962         1
Seattle, WA 98127            1
New York, NY 10007           1
Roseland, NJ 07068           1
Washington, DC 20422         1
Florham Park, NJ 07932       1
Martinez, CA                 1
New York, NY 10107           1
New York, NY 10032           1
Los Angeles, CA 90016        1
Round Rock, TX               1
Washington, DC 20020         1
New York, NY 10171           1
New York, NY 10173           1
Kenilworth, NJ               1
Chicago, IL 60646            1
Name: location, Length: 382, dtype: int64

***Note - ***

1.   Most of the job offers are on the location 'Seattle, WA'.

In [69]:
dataset[dataset['reviews']==dataset['reviews'].max()]

                                     position  ...             location
6728  Staff Software Engineer, Front End Lead  ...  Sunnyvale, CA 94086
6828         Information Security Risk Expert  ...  Sunnyvale, CA 94086
6958         Senior Data Scientist (GEC11902)  ...  Sunnyvale, CA 94086

[3 rows x 5 columns]

In [70]:
dataset[dataset['company']=='Walmart']

                                     position  ...             location
449                        Data Scientist-ISD  ...     Austin, TX 78716
6668                     Staff Data Scientist  ...  San Bruno, CA 94066
6728  Staff Software Engineer, Front End Lead  ...  Sunnyvale, CA 94086
6828         Information Security Risk Expert  ...  Sunnyvale, CA 94086
6958         Senior Data Scientist (GEC11902)  ...  Sunnyvale, CA 94086

[5 rows x 5 columns]

***Note - ***

1.   Company "Walmart" has maximum reviews. And Company "Walmart" offers maximum jobs on location "Sunnyvale, CA 94086".

In [71]:
dataset[dataset['reviews']==dataset['reviews'].min()]

                                               position  ...             location
0                                  Development Director  ...   Atlanta, GA 30301
1     An Ostentatiously-Excitable Principal Research...  ...          Atlanta, GA
2                                        Data Scientist  ...          Atlanta, GA
18                                       Data Scientist  ...          Atlanta, GA
19                                       Data Scientist  ...          Atlanta, GA
25                                       Data Scientist  ...          Atlanta, GA
26                 Data Scientist 1 – AP Forensics Team  ...          Atlanta, GA
38                                       Data Scientist  ...          Atlanta, GA
48                        Chief Deep Learning Scientist  ...          Atlanta, GA
53                                  Statistical Analyst  ...          Atlanta, GA
54                                   VP, Data Analytics  ...          Atlanta, GA
55                              Lead Decision Scientist  ...   Atlanta, GA 30313
65                                   Research Scientist  ...          Atlanta, GA
84                                   Research Scientist  ...          Atlanta, GA
106   Staff Research Scientist VII: Informational In...  ...          Atlanta, GA
114                             Jr Microbiologist - CDC  ...          Atlanta, GA
122               Mid Data Scientist - Machine Learning  ...   Atlanta, GA 30342
139   Principal Research Scientist I: Informational ...  ...          Atlanta, GA
140                             Market Research Analyst  ...          Atlanta, GA
151                        Senior Scientist, Immunology  ...          Atlanta, GA
153          A Vigorously-Charged Scientific Programmer  ...          Atlanta, GA
154                                   Software Engineer  ...          Atlanta, GA
156                                Director of Software  ...   Atlanta, GA 30332
157       Certifying Scientist / Quantitation Scientist  ...          Atlanta, GA
161                                      Data Scientist  ...   Atlanta, GA 30326
164   Windows Programmer / Software Engineer - Inter...  ...          Atlanta, GA
170   Windows Programmer / Software Engineer - Entry...  ...          Atlanta, GA
192   Various Professional, Technical, Administrativ...  ...          Atlanta, GA
196     Business Development Manager (Southeast Region)  ...          Atlanta, GA
199   Implementation Engineer (Machine Learning/Data...  ...   Atlanta, GA 30326
...                                                 ...  ...                  ...
6789                                     Head of Design  ...  Sunnyvale, CA 94085
6791                 Forward Deployed Solution Engineer  ...        Sunnyvale, CA
6795        Deep Learning Software Development Engineer  ...        Sunnyvale, CA
6800                                 Knowledge Engineer  ...        Sunnyvale, CA
6813  AI Research/Software Development Engineer, Ale...  ...        Sunnyvale, CA
6815                         3D Tools Software Engineer  ...  Sunnyvale, CA 94089
6816       Software Engineer - Tools and Infrastructure  ...        Sunnyvale, CA
6817  23103 Principal Data Scientist - HealthTech / ...  ...        Sunnyvale, CA
6822                                      Manager, TPMs  ...        Sunnyvale, CA
6824                               QA Software Engineer  ...        Sunnyvale, CA
6825                                Sr Speech Scientist  ...        Sunnyvale, CA
6827                      Software Development Engineer  ...        Sunnyvale, CA
6829                                  Software Engineer  ...        Sunnyvale, CA
6841                      Sr. Machine Learning Engineer  ...        Sunnyvale, CA
6846                        Sr. Hardware Audio Engineer  ...        Sunnyvale, CA
6848                       Materials (Quality) Engineer  ...  Sunnyvale, CA 94086
6856  Senior Data Scientist, Algorithms and Machine ...  ...        Sunnyvale, CA
6868                    Senior Research Engineer, Alexa  ...        Sunnyvale, CA
6874                                   Sr. UI Developer  ...        Sunnyvale, CA
6881                              Senior Growth Analyst  ...        Sunnyvale, CA
6884                      Sr. Technical Program Manager  ...        Sunnyvale, CA
6902                          Senior Front End Engineer  ...        Sunnyvale, CA
6917                                 Security Scientist  ...  Sunnyvale, CA 94089
6919                                  Applied Scientist  ...        Sunnyvale, CA
6920                Research Scientist - IDL (Robotics)  ...  Sunnyvale, CA 94089
6930                                     Data Scientist  ...        Sunnyvale, CA
6931       Data Scientist - Alexa Language Technologies  ...        Sunnyvale, CA
6937                      Data Scientist / Data Analyst  ...        Sunnyvale, CA
6938  Data Scientist, Customer Interests & Personali...  ...        Sunnyvale, CA
6952  Image processing Deep learning Research Scientist  ...  Sunnyvale, CA 94085

[1627 rows x 5 columns]

In [72]:
dataset.head()

                                            position  ...            location
0                               Development Director  ...  Atlanta, GA 30301
1  An Ostentatiously-Excitable Principal Research...  ...         Atlanta, GA
2                                     Data Scientist  ...         Atlanta, GA
3                                       Data Analyst  ...  Atlanta, GA 30303
4  Assistant Professor -TT - Signal Processing & ...  ...         Atlanta, GA

[5 rows x 5 columns]

# ***Adding new columns - ***

In [74]:
# Adding new column "City"
a=[]
for i in dataset["location"]:
    b=i.split(",")[0]
    a.append(b)
dataset["City"]=a    
dataset.tail()

                                       position  ...       City
6959  Data Developer / Machine Learning Analyst  ...  Sunnyvale
6960                                Scientist I  ...  Sunnyvale
6961                           Intern Scientist  ...  Sunnyvale
6962            Senior Data & Applied Scientist  ...  Sunnyvale
6963    Principal Data Scientist, Deep Learning  ...  Sunnyvale

[5 rows x 6 columns]

In [82]:
dataset["City"].value_counts()

New York                  848
Seattle                   777
Cambridge                 694
Boston                    629
San Francisco             564
Chicago                   471
San Diego                 412
Washington                340
Mountain View             277
Atlanta                   269
Sunnyvale                 256
Los Angeles               254
Boulder                   251
Austin                    213
Redmond                   158
South San Francisco        73
Redwood City               59
Oakland                    35
San Mateo                  30
Manhattan                  30
San Francisco Bay Area     26
Emeryville                 19
Berkeley                   19
Jersey City                17
San Carlos                 16
Queens                     15
Brooklyn                   14
Menlo Park                 14
Foster City                14
Novato                     12
                         ...
New Brunswick               1
Long Beach                  1
Cedar Park                  1
Fort Lee                    1
Mill Valley                 1
East Hanover                1
Lynbrook                    1
Lafayette                   1
Kenilworth                  1
New Hyde Park               1
Manhattanville              1
Fremont                     1
Port Washington             1
Manhasset                   1
Staten Island               1
Hackensack                  1
Orangeburg                  1
Rutherford                  1
Harrison                    1
Whippany                    1
Daly City                   1
Woodcliff Lake              1
Ridgefield                  1
Yonkers                     1
Kentfield                   1
Roseland                    1
Secaucus                    1
Short Hills                 1
Bedminster                  1
Florham Park                1
Name: City, Length: 91, dtype: int64

In [80]:
# Adding new column "State"
aa=[]
for ii in dataset["location"]:
    bb=ii.split(",")[1]
    aa.append(bb)
for ii in range(len(aa)):
    bb=re.sub(r'[0-9]',"",aa[ii]).strip()
    aa[ii]=bb  
dataset["State"]=aa
dataset.tail()

                                       position  ... State
6959  Data Developer / Machine Learning Analyst  ...    CA
6960                                Scientist I  ...    CA
6961                           Intern Scientist  ...    CA
6962            Senior Data & Applied Scientist  ...    CA
6963    Principal Data Scientist, Deep Learning  ...    CA

[5 rows x 7 columns]

In [81]:
dataset["State"].value_counts()

CA    2152
MA    1323
WA     935
NY     926
IL     471
DC     340
GA     269
CO     251
TX     218
NJ      68
Name: State, dtype: int64

In [83]:
# adding a new column "Data Scientists"
aaa=[]
for i in dataset["position"]:
    aaa.append(("Data Scientist" in i))
dataset["Data Scientist"]=aaa
dataset.head()

                                            position  ... Data Scientist
0                               Development Director  ...          False
1  An Ostentatiously-Excitable Principal Research...  ...          False
2                                     Data Scientist  ...           True
3                                       Data Analyst  ...          False
4  Assistant Professor -TT - Signal Processing & ...  ...          False

[5 rows x 8 columns]

In [84]:
dataset["Data Scientist"].value_counts()

False    5710
True     1243
Name: Data Scientist, dtype: int64

# ***Analysis From Data - ***

***Analysis upto now - ***


1.   Most of the job offers are on the location 'Seattle, WA'.
2.   Company "Walmart" has maximum reviews. And Company "Walmart" offers maximum jobs on location "Sunnyvale, CA 94086".

In [0]:
# which position most "Walmart" company offers. 
# which company offers maximum "Data Scientist" job .
# which positions are offeres at location "Seattle,WA".

In [87]:
dataset[dataset["company"]=="Walmart"].value_counts()

AttributeError: ignored

In [107]:
print(dataset["description"][3])

DEPARTMENT: Program OperationsPOSITION LOCATIONS: Atlanta, GA.ACCOUNTABILITY:  President of Program OperationsFor 25 years Operation HOPE has been dedicated to empowering underserved communities through financial literacy, now our work encompasses more than financial education. Our work is about instilling knowledge and confidence in those we serve so they can experience, sometimes for the first time in their lives, financial dignity.JOB SUMMARYThe data analyst collects, organizes, mines, analyzes, and audits large sets of data for impact reporting and operational optimization. The Data Analyst participates as a team member responsible for maintaining the integrity of client database information and provides executable and actionable recommendations for data migration best practices and field operations based on analytical findings.DUTIES AND RESPONSIBILITIESInitiate and participate in data mining and reportingAudit and profile the data to assess the impact of poor quality data on the organization’s performance and impacts.Conduct A/B testing based on different hypotheses that directly and indirectly impact operational key performance indicators.Create and support data visualization through operational and executive dashboards.Import/Collect, clean, convert and analyze data for the purpose of find insights and making conclusions.Design and develop relational databases for collecting data.Monitor the performance of data systems and if there are any issues then respond to the same.Keep a track of trends, patterns and correlation in case of complex data sets.Prepare concise data reports and data visualizations for the management that will help in decision-making process.Assist the data scientist in development of new analytical tools and methods as and when required.REQUIRED SKILLS AND EDUCATIONBachelor’s DegreeTwo or more years as a data analyst in related fieldAble to understand various data structures and common methods in data transformationExperience in basic statistical modeling and reportingExperience in SQL, relational databases, database concepts, dimensional modeling and database designProficient in one or more programming languages: R, Python, STATA, SASExperience with Caseworthy, SQL and TableauEEOSTATEMENTOperation HOPE is an Equal Opportunity Employer, all qualified applicants will receive consideration for employment without regard to race, color, religion, sex, age, national origin, protected veteran status, disability status, sexual orientation, gender identity or expression, marital status, genetic information or any other characteristic protected by law.Job Type: Full-timeSalary: $50,000.00 to $60,000.00 /yearExperience:data analyst in related field: 2 yearsbasic statistical modeling and reporting: 2 yearsProgramming languages: R, Python, STATA, SAS: 2 yearsSQL, relational databases, database concepts/design: 2 yearsCaseworthy, SQL and Tableau: 1 yearEducation:Bachelor'sLocation:Atlanta, GA