<a href="https://colab.research.google.com/github/Ishikaaa/ML-Data-Scientist-job-market-in-the-US/blob/master/Data_Scientist_job_market_in_the_US.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***1. Importing Libraries - ***

In [0]:
import pandas as pd 
import numpy as np

In [4]:
dataset=pd.read_csv("alldata.csv")
dataset.head()

                                            position  ...            location
0                               Development Director  ...  Atlanta, GA 30301
1  An Ostentatiously-Excitable Principal Research...  ...         Atlanta, GA
2                                     Data Scientist  ...         Atlanta, GA
3                                       Data Analyst  ...  Atlanta, GA 30303
4  Assistant Professor -TT - Signal Processing & ...  ...         Atlanta, GA

[5 rows x 5 columns]

In [5]:
dataset.shape

(7183, 5)

# ***Handling Missing Data - ***

In [6]:
dataset.isnull().sum()

position         11
company          11
description      11
reviews        1660
location         11
dtype: int64

In [23]:
# removing that rows in which all colunms are null 
dataset = dataset.dropna(how='all',axis=0)
dataset.shape

(7172, 5)

In [24]:
dataset.isnull().sum()

position          0
company           0
description       0
reviews        1649
location          0
dtype: int64

In [29]:
# remove that rows which do not have any review 
dataset=dataset.dropna(how='any',axis=0)
dataset.shape

(5523, 5)

In [30]:
dataset.isnull().sum()

position       0
company        0
description    0
reviews        0
location       0
dtype: int64

In [32]:
dataset['position'].value_counts()

Data Scientist                                                                         207
Senior Data Scientist                                                                   53
Research Analyst                                                                        44
Data Engineer                                                                           39
Machine Learning Engineer                                                               26
Sr. Data Scientist                                                                      22
Principal Data Scientist                                                                20
Quantitative Analyst                                                                    20
Research Scientist                                                                      20
Lead Data Scientist                                                                     17
Data Analyst                                                                            16
Software Engineer                                                                       15
Software Engineer, Machine Learning                                                     12
Scientist                                                                               12
Market Research Analyst                                                                 12
Senior Research Analyst                                                                 11
Product Manager                                                                         11
Student Research Collaboration                                                          10
Machine Learning Scientist                                                               9
Senior Software Engineer                                                                 9
Staff Data Scientist                                                                     9
Senior Scientist                                                                         9
Sr. Data Engineer                                                                        9
Research Associate                                                                       9
Senior Data Engineer                                                                     8
Senior Machine Learning Scientist                                                        7
Bioinformatics Scientist                                                                 7
Manager, Data Science                                                                    7
Director, Data Science                                                                   7
Senior Associate, Data Scientist                                                         7
                                                                                      ...
Scientist - Virologist                                                                   1
Sr Pharmacovigilance Scientist                                                           1
SOM DIRECTOR - CLINICAL DEPARTMENT                                                       1
Technical Application Scientist                                                          1
IT Specialist (Applications Software)                                                    1
Principal TPM                                                                            1
Principal Software Engineer (Search -Machine Learning)                                   1
Technical Development Scientist/Associate Scientist - Data Management and Analytics      1
CS Success Specialist I                                                                  1
Senior Environmental Planning Professional                                               1
Change and Communications Lead, Strategy and Operations                                  1
PHC Senior Scientist, Omics                                                              1
Process Development Associate – Pivotal Drug Substance                                   1
HLS - Statistical Quality Lead                                                           1
Technical Program Manager, Data Infrastructure and Analysis                              1
Senior Analyst                                                                           1
Sr. Scientist, Vector Engineering                                                        1
Downstream Process Development - Scientist (Entry to Director level)                     1
Software Engineer, Machine Learning, ATAP                                                1
Recombinant Antibody Scientist (Flex-T)                                                  1
Research Associate, Sr.                                                                  1
Research Analyst (Diversity)                                                             1
Android Software Engineer                                                                1
Developer                                                                                1
Research Staff Member, AI Computer Vision                                                1
FinTech Startup Data Scientist                                                           1
Water Resources Engineer 5                                                               1
Senior Software Engineer, Machine Learning                                               1
Scientist II/Ecologist II                                                                1
Cloud DevSecOps Engineer                                                                 1
Name: position, Length: 4221, dtype: int64

In [33]:
dataset['company'].value_counts()

Amazon.com                                               357
Ball Aerospace                                           348
Google                                                   138
Microsoft                                                137
NYU Langone Health                                        76
Fred Hutchinson Cancer Research Center                    70
KPMG                                                      66
Broad Institute                                           49
Facebook                                                  49
Walmart eCommerce                                         45
McKinsey & Company                                        41
Takeda Pharmaceutical                                     39
University of Washington                                  39
Celgene Corporation                                       34
Pharmacyclics, an Abbvie Company                          34
Oath Inc                                                  34
Cymer                                                     32
Brigham & Women's Hospital(BWH)                           31
Biogen                                                    30
Amgen                                                     28
Illumina                                                  27
JP Morgan Chase                                           27
Jacobs                                                    27
Sanofi                                                    27
JD.com                                                    26
JUUL Labs                                                 26
Zillow Group                                              26
Cedars-Sinai                                              24
CDK Global                                                24
University of Colorado                                    24
                                                        ...
Hampton-Clarke, Inc                                        1
Carney                                                     1
CONSUMER AFFAIRS                                           1
Promega Corporation                                        1
The Catholic University of America                         1
Sotheby’s                                                  1
Washington Metropolitan Area Transit Authority             1
FabFitFun                                                  1
University of California San Francisco Medical Center      1
DEPARTMENT OF SANITATION                                   1
Teracore                                                   1
Nexient                                                    1
Starbucks                                                  1
Gartner                                                    1
The College Board                                          1
HD Supply                                                  1
CUNA Mutual Group                                          1
Vungle                                                     1
Streetline                                                 1
The Nerdery                                                1
GEI Consultants Inc                                        1
Chegg                                                      1
Center for Infectious Disease Research                     1
Union Bank                                                 1
Newmark Knight Frank                                       1
Grenzebach Glier and Associates                            1
UCB                                                        1
National Debt Relief                                       1
UST Global Inc.                                            1
UHY LLP                                                    1
Name: company, Length: 1302, dtype: int64

In [35]:
dataset['reviews'].value_counts()

108.0      354
25902.0    224
2.0        191
5.0        139
4.0        133
4618.0     118
2474.0     110
3.0        101
6.0         94
25895.0     89
7.0         79
705.0       76
91.0        71
8.0         68
15.0        66
838.0       62
32.0        55
11.0        54
366.0       49
14.0        48
12.0        46
141.0       46
26.0        42
70.0        42
385.0       41
10.0        41
530.0       39
52.0        39
17.0        36
182.0       35
          ...
3578.0       1
242.0        1
222.0        1
2203.0       1
25909.0      1
2189.0       1
415.0        1
694.0        1
723.0        1
312.0        1
1516.0       1
55.0         1
49.0         1
3027.0       1
11607.0      1
1947.0       1
131.0        1
177.0        1
63.0         1
228.0        1
892.0        1
2431.0       1
2647.0       1
447.0        1
1959.0       1
6868.0       1
1366.0       1
21949.0      1
290.0        1
378.0        1
Name: reviews, Length: 560, dtype: int64

In [40]:
dataset['description'][3]

"DEPARTMENT: Program OperationsPOSITION LOCATIONS: Atlanta, GA.ACCOUNTABILITY:  President of Program OperationsFor 25 years Operation HOPE has been dedicated to empowering underserved communities through financial literacy, now our work encompasses more than financial education. Our work is about instilling knowledge and confidence in those we serve so they can experience, sometimes for the first time in their lives, financial dignity.JOB SUMMARYThe data analyst collects, organizes, mines, analyzes, and audits large sets of data for impact reporting and operational optimization. The Data Analyst participates as a team member responsible for maintaining the integrity of client database information and provides executable and actionable recommendations for data migration best practices and field operations based on analytical findings.DUTIES AND RESPONSIBILITIESInitiate and participate in data mining and reportingAudit and profile the data to assess the impact of poor quality data on the organization’s performance and impacts.Conduct A/B testing based on different hypotheses that directly and indirectly impact operational key performance indicators.Create and support data visualization through operational and executive dashboards.Import/Collect, clean, convert and analyze data for the purpose of find insights and making conclusions.Design and develop relational databases for collecting data.Monitor the performance of data systems and if there are any issues then respond to the same.Keep a track of trends, patterns and correlation in case of complex data sets.Prepare concise data reports and data visualizations for the management that will help in decision-making process.Assist the data scientist in development of new analytical tools and methods as and when required.REQUIRED SKILLS AND EDUCATIONBachelor’s DegreeTwo or more years as a data analyst in related fieldAble to understand various data structures and common methods in data transformationExperience in basic statistical modeling and reportingExperience in SQL, relational databases, database concepts, dimensional modeling and database designProficient in one or more programming languages: R, Python, STATA, SASExperience with Caseworthy, SQL and TableauEEOSTATEMENTOperation HOPE is an Equal Opportunity Employer, all qualified applicants will receive consideration for employment without regard to race, color, religion, sex, age, national origin, protected veteran status, disability status, sexual orientation, gender identity or expression, marital status, genetic information or any other characteristic protected by law.Job Type: Full-timeSalary: $50,000.00 to $60,000.00 /yearExperience:data analyst in related field: 2 yearsbasic statistical modeling and reporting: 2 yearsProgramming languages: R, Python, STATA, SAS: 2 yearsSQL, relational databases, database concepts/design: 2 yearsCaseworthy, SQL and Tableau: 1 yearEducation:Bachelor'sLocation:Atlanta, GA"